{% set title = 'Dropdown' %}
{% set filename = 'component-dropdown.html' %}

{% extends 'layouts/master.html' %}
{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Dropdown</h3>
                <p class="text-subtitle text-muted">A carousel without slide control</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li aria-current="page" class="breadcrumb-item active">Dropdown</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section id="basic-dropdown">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Basic</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="btn-group mb-1">
                                <div class="dropdown">
                                    <button aria-expanded="false" aria-haspopup="true"
                                            class="btn btn-primary dropdown-toggle me-1" data-bs-toggle="dropdown" id="dropdownMenuButton"
                                            type="button">
                                        Primary
                                    </button>
                                    <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Option 1</a>
                                        <a class="dropdown-item" href="#">Option 2</a>
                                        <a class="dropdown-item" href="#">Option 3</a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group mb-1">
                                <div class="dropdown">
                                    <button aria-expanded="false" aria-haspopup="true"
                                            class="btn btn-secondary dropdown-toggle me-1" data-bs-toggle="dropdown" id="dropdownMenuButtonSec"
                                            type="button">
                                        Secondary
                                    </button>
                                    <div aria-labelledby="dropdownMenuButtonSec" class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Option 1</a>
                                        <a class="dropdown-item" href="#">Option 2</a>
                                        <a class="dropdown-item" href="#">Option 3</a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group mb-1">
                                <div class="dropdown">
                                    <button aria-expanded="false" aria-haspopup="true"
                                            class="btn btn-success dropdown-toggle me-1" data-bs-toggle="dropdown" id="dropdownMenuButton2"
                                            type="button">
                                        Success
                                    </button>
                                    <div aria-labelledby="dropdownMenuButton2" class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Option 1</a>
                                        <a class="dropdown-item" href="#">Option 2</a>
                                        <a class="dropdown-item" href="#">Option 3</a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group mb-1">
                                <div class="dropdown">
                                    <button aria-expanded="false" aria-haspopup="true"
                                            class="btn btn-info dropdown-toggle me-1" data-bs-toggle="dropdown" id="dropdownMenuButton3"
                                            type="button">
                                        Info
                                    </button>
                                    <div aria-labelledby="dropdownMenuButton3" class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Option 1</a>
                                        <a class="dropdown-item" href="#">Option 2</a>
                                        <a class="dropdown-item" href="#">Option 3</a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group mb-1">
                                <div class="dropdown">
                                    <button aria-expanded="false" aria-haspopup="true"
                                            class="btn btn-danger dropdown-toggle me-1" data-bs-toggle="dropdown" id="dropdownMenuButton4"
                                            type="button">
                                        Danger
                                    </button>
                                    <div aria-labelledby="dropdownMenuButton4" class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Option 1</a>
                                        <a class="dropdown-item" href="#">Option 2</a>
                                        <a class="dropdown-item" href="#">Option 3</a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group mb-1">
                                <div class="dropdown">
                                    <button aria-expanded="false" aria-haspopup="true"
                                            class="btn btn-warning dropdown-toggle me-1" data-bs-toggle="dropdown" id="dropdownMenuButton5"
                                            type="button">
                                        Warning
                                    </button>
                                    <div aria-labelledby="dropdownMenuButton5" class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Option 1</a>
                                        <a class="dropdown-item" href="#">Option 2</a>
                                        <a class="dropdown-item" href="#">Option 3</a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group mb-1">
                                <div class="dropdown">
                                    <button aria-expanded="false" aria-haspopup="true" class="btn btn-dark dropdown-toggle"
                                            data-bs-toggle="dropdown" id="dropdownMenuButton7" type="button">
                                        Dark
                                    </button>
                                    <div aria-labelledby="dropdownMenuButton7" class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Option 1</a>
                                        <a class="dropdown-item" href="#">Option 2</a>
                                        <a class="dropdown-item" href="#">Option 3</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Basic Dropdown End -->

    <!-- Split Button Dropdown Starts -->
    <section id="dropdown-with-split-btn">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Split Dropdowns</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>To create a split button add class <code>.dropdown-toggle-split</code> with your dropdown
                                toggle class
                                And to add divider between dropdown item use class <code>.doprdown-divider</code>
                            </p>
                            <div class="btn-group dropdown me-1 mb-1">
                                <button class="btn btn-primary" type="button">Primary</button>
                                <button aria-expanded="false" aria-haspopup="true"
                                        class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-reference="parent"
                                        type="button">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Option 1</a>
                                    <a class="dropdown-item active" href="#">Option 2</a>
                                    <a class="dropdown-item" href="#">Option 3</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                            <div class="btn-group dropdown me-1 mb-1">
                                <button class="btn btn-secondary" type="button">Secondary</button>
                                <button aria-expanded="false" aria-haspopup="true"
                                        class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-reference="parent"
                                        type="button">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Option 1</a>
                                    <a class="dropdown-item active" href="#">Option 2</a>
                                    <a class="dropdown-item" href="#">Option 3</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                            <div class="btn-group dropdown me-1 mb-1">
                                <button class="btn btn-success" type="button">Success</button>
                                <button aria-expanded="false" aria-haspopup="true"
                                        class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-reference="parent"
                                        type="button">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <h6 class="dropdown-header">Header</h6>
                                    <a class="dropdown-item" href="#">Option 2</a>
                                    <a class="dropdown-item" href="#">Option 3</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                            <div class="btn-group dropdown me-1 mb-1">
                                <button class="btn btn-info" type="button">Info</button>
                                <button aria-expanded="false" aria-haspopup="true"
                                        class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-reference="parent"
                                        type="button">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Option 1</a>
                                    <a class="dropdown-item disabled" href="#">Option 2</a>
                                    <a class="dropdown-item" href="#">Option 3</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                            <div class="btn-group dropdown me-1 mb-1">
                                <button class="btn btn-danger" type="button">Danger</button>
                                <button aria-expanded="false" aria-haspopup="true"
                                        class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-reference="parent"
                                        type="button">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Option 1</a>
                                    <a class="dropdown-item" href="#">Option 2</a>
                                    <a class="dropdown-item" href="#">Option 3</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                            <div class="btn-group dropdown me-1 mb-1">
                                <button class="btn btn-warning" type="button">Warning</button>
                                <button aria-expanded="false" aria-haspopup="true"
                                        class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-reference="parent"
                                        type="button">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Option 1</a>
                                    <a class="dropdown-item" href="#">Option 2</a>
                                    <a class="dropdown-item" href="#">Option 3</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                            <div class="btn-group dropdown me-1 mb-1">
                                <button class="btn btn-light" type="button">Light</button>
                                <button aria-expanded="false" aria-haspopup="true"
                                        class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-reference="parent"
                                        type="button">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Option 1</a>
                                    <a class="dropdown-item" href="#">Option 2</a>
                                    <a class="dropdown-item" href="#">Option 3</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                            <div class="btn-group dropdown mb-1">
                                <button class="btn btn-dark" type="button">Dark</button>
                                <button aria-expanded="false" aria-haspopup="true"
                                        class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-reference="parent"
                                        type="button">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Option 1</a>
                                    <a class="dropdown-item" href="#">Option 2</a>
                                    <a class="dropdown-item" href="#">Option 3</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Split Button Dropdown Ends -->

    <!-- Dropdown with Icon Starts -->
    <section id="dropdown-with-icon">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Dropdown with Icons & Emoji</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>Use <code>.dropdown-item-emoji</code> within <code>.dropdown-item</code> for font-size
                                and
                                spacing of emojis.</p>
                            <div class="btn-group mb-1">
                                <div class="dropdown">
                                    <button aria-expanded="false" aria-haspopup="true"
                                            class="btn btn-primary dropdown-toggle me-1" data-bs-toggle="dropdown" id="dropdownMenuButtonIcon"
                                            type="button">
                                        <i class="bi bi-error-circle me-50"></i> Icon Left
                                    </button>
                                    <div aria-labelledby="dropdownMenuButtonIcon" class="dropdown-menu">
                                        <a class="dropdown-item" href="#"><i class="bi bi-bar-chart-alt-2 me-50"></i>
                                            Option
                                            1</a>
                                        <a class="dropdown-item" href="#"><i class="bi bi-bell me-50"></i> Option 2</a>
                                        <a class="dropdown-item" href="#"><i class="bi bi-time me-50"></i> Option 3</a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group mb-1">
                                <div class="dropdown icon-right">
                                    <button aria-expanded="false" aria-haspopup="true"
                                            class="btn btn-primary dropdown-toggle me-1" data-bs-toggle="dropdown"
                                            id="dropdownMenuButtonIconRight"
                                            type="button">
                                        Icon Right <i class="bi bi-error-circle ml-50"></i>
                                    </button>
                                    <div aria-labelledby="dropdownMenuButtonIconRight" class="dropdown-menu">
                                        <a class="dropdown-item justify-content-between" href="#">Option 1 <i
                                                class="bi bi-bar-chart-alt-2 ml-50"></i></a>
                                        <a class="dropdown-item justify-content-between" href="#">Option 2 <i
                                                class="bi bi-bell ml-50"></i></a>
                                        <a class="dropdown-item justify-content-between" href="#">Option 3 <i
                                                class="bi bi-time ml-50"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group mb-1">
                                <div class="dropdown dropdown-color-icon">
                                    <button aria-expanded="false" aria-haspopup="true"
                                            class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuButtonEmoji"
                                            type="button">
                                        <span Class="me-50">🙂</span>Color Emoji icons
                                    </button>
                                    <div aria-labelledby="dropdownMenuButtonEmoji" class="dropdown-menu">
                                        <a class="dropdown-item" href="#"><span class="dropdown-item-emoji">😆</span>
                                            Option
                                            1</a>
                                        <a class="dropdown-item" href="#"><span class="dropdown-item-emoji">😎</span>
                                            Option
                                            2 </a>
                                        <a class="dropdown-item" href="#"><span class="dropdown-item-emoji">🤩</span>
                                            Option
                                            3</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dropdown with Icon End -->

    <!-- Dropdown Direction Starts -->
    <section id="dropdown-directions">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Directions</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>
                                Add <code>.dropdown-menu-end</code> to a <code>.dropdown-menu</code> to right align the
                                dropdown menu.
                                Trigger dropdown menus at the up / right / left of the elements by adding
                                <code>.dropup | .dropright | .dropleft </code> to the parent element.
                            </p>
                            <div class="direction-dropdown-default mt-1">
                                <div class="btn-group me-1 mb-1">
                                    <div class="dropdown">
                                        <button aria-expanded="false" aria-haspopup="true"
                                                class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button">
                                            Drop bottom right
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item active" href="#">Option 1</a>
                                            <a class="dropdown-item" href="#">Option 2</a>
                                            <a class="dropdown-item" href="#">Option 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group dropup me-1 mb-1">
                                    <button aria-expanded="false" aria-haspopup="true"
                                            class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button">
                                        Drop up
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Option 1</a>
                                        <a class="dropdown-item disabled" href="#">Option 2</a>
                                        <a class="dropdown-item" href="#">Option 3</a>
                                    </div>
                                </div>
                                <div class="btn-group dropend me-1 mb-1">
                                    <button aria-expanded="false" aria-haspopup="true"
                                            class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button">
                                        Drop right
                                    </button>
                                    <div class="dropdown-menu">
                                        <h6 class="dropdown-header">Header</h6>
                                        <a class="dropdown-item" href="#">Option 2</a>
                                        <a class="dropdown-item" href="#">Option 3</a>
                                    </div>
                                </div>
                                <div class="btn-group dropstart  mb-1">
                                    <button aria-expanded="false" aria-haspopup="true"
                                            class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button">
                                        Drop left
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Option 1</a>
                                        <a class="dropdown-item disabled" href="#">Option 2</a>
                                        <a class="dropdown-item" href="#">Option 3</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dropdown Direction End -->

    <!-- Dropdown Sizes Starts -->
    <section id="dropdown-sizes">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Sizes</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>Button dropdowns work with buttons of all sizes, including default and split dropdown
                                buttons.</p>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="btn-group me-1 mb-1">
                                        <div class="dropdown">
                                            <button aria-expanded="false" aria-haspopup="true"
                                                    class="btn btn-primary btn-lg dropdown-toggle" data-bs-toggle="dropdown"
                                                    type="button">
                                                Large
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Option 1</a>
                                                <a class="dropdown-item" href="#">Option 2</a>
                                                <a class="dropdown-item" href="#">Option 3</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-group me-1 mb-1">
                                        <div class="dropdown">
                                            <button aria-expanded="false" aria-haspopup="true"
                                                    class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                                    type="button">
                                                Default
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Option 1</a>
                                                <a class="dropdown-item" href="#">Option 2</a>
                                                <a class="dropdown-item" href="#">Option 3</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-group mb-1">
                                        <div class="dropdown">
                                            <button aria-expanded="false" aria-haspopup="true"
                                                    class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                                                    type="button">
                                                Small
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Option 1</a>
                                                <a class="dropdown-item" href="#">Option 2</a>
                                                <a class="dropdown-item" href="#">Option 3</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="btn-group dropdown me-1 mb-1">
                                        <button class="btn btn-primary btn-lg" type="button">
                                            Large
                                        </button>
                                        <button aria-expanded="false"
                                                aria-haspopup="true"
                                                class="btn btn-primary btn-lg dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" type="button">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Option 1</a>
                                            <a class="dropdown-item" href="#">Option 2</a>
                                            <a class="dropdown-item" href="#">Option 3</a>
                                        </div>
                                    </div>
                                    <div class="btn-group dropdown me-1 mb-1">
                                        <button class="btn btn-primary" type="button">
                                            Default
                                        </button>
                                        <button aria-expanded="false"
                                                aria-haspopup="true"
                                                class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" type="button">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Option 1</a>
                                            <a class="dropdown-item" href="#">Option 2</a>
                                            <a class="dropdown-item" href="#">Option 3</a>
                                        </div>
                                    </div>
                                    <div class="btn-group dropdown mb-1">
                                        <button class="btn btn-primary btn-sm" type="button">
                                            Small
                                        </button>
                                        <button aria-expanded="false"
                                                aria-haspopup="true"
                                                class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" type="button">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Option 1</a>
                                            <a class="dropdown-item" href="#">Option 2</a>
                                            <a class="dropdown-item" href="#">Option 3</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dropdown Sizes Ends -->

    <!-- Dropdown options Starts -->
    <section id="dropdown-options">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Options</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>Use <code>data-offset</code> or <code>data-reference</code> attributes to change the
                                location
                                of the dropdown.</p>
                            <div class="btn-group dropdown me-1 mb-1">
                                <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown" data-offset="5,20" id="dropdownMenuOffset"
                                        type="button">
                                    Offset
                                </button>
                                <div aria-labelledby="dropdownMenuOffset" class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>

                            <div class="btn-group dropdown mb-1">
                                <button class="btn btn-secondary" type="button">Reference</button>
                                <button aria-expanded="false" aria-haspopup="true"
                                        class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-reference="parent"
                                        id="dropdownMenuReference" type="button">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div aria-labelledby="dropdownMenuReference" class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dropdown options Ends -->

    <!-- Dropdown variations Starts -->
    <section id="dropdown-variations">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Variations</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>To create a dropdown with groups you can use <code>.dropdown-header</code> for the header
                                of
                                groups
                                and for sepration of group you can use <code>.dropdown-divider</code>.
                            </p>
                            <p>
                                To create a dropdown with icons use class <code>.dropdown-icon-wrapper</code> with
                                <code>.dropdown</code>.
                            </p>
                            <div class="btn-group dropup me-1 mb-1">
                                <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle"
                                        data-bs-toggle="dropdown" id="dropdownMenuButton902" type="button">
                                    Groups
                                </button>
                                <div aria-labelledby="dropdownMenuButton902" class="dropdown-menu">
                                    <h6 class="dropdown-header">Group 1</h6>
                                    <a class="dropdown-item" href="#">Option 1</a>
                                    <a class="dropdown-item" href="#">Option 2</a>
                                    <div class="dropdown-divider"></div>
                                    <h6 class="dropdown-header">Group 2</h6>
                                    <a class="dropdown-item" href="#">Option 1</a>
                                    <a class="dropdown-item" href="#">Option 2</a>
                                    <div class="dropdown-divider"></div>
                                    <h6 class="dropdown-header">Group 3</h6>
                                    <a class="dropdown-item" href="#">Option 1</a>
                                    <a class="dropdown-item" href="#">Option 2</a>
                                </div>
                            </div>
                            <div class="btn-group dropup dropdown-icon-wrapper me-1 mb-1">
                                <button class="btn btn-primary" type="button">
                                    Icons
                                </button>
                                <button aria-expanded="false" aria-haspopup="true"
                                        class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" type="button">
                                    <i class="bi bi-wifi dropdown-icon"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <span class="dropdown-item">
                                        <i class="bi bi-wifi-off"></i>
                                    </span>
                                    <span class="dropdown-item">
                                        <i class="bi bis-volume"></i>
                                    </span>
                                    <span class="dropdown-item">
                                        <i class="bi bis-volume-full"></i>
                                    </span>
                                    <span class="dropdown-item">
                                        <i class="bi bi-bell"></i>
                                    </span>
                                    <span class="dropdown-item">
                                        <i class="bi bi-bell-off"></i>
                                    </span>
                                    <span class="dropdown-item">
                                        <i class="bi bi-phone"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="btn-group dropup mb-1">
                                <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle"
                                        data-bs-toggle="dropdown" type="button">
                                    Form
                                </button>
                                <div class="dropdown-menu">
                                    <form class="px-2 py-2">
                                        <div class="form-group">
                                            <label for="exampleDropdownFormEmail1">Email address</label>
                                            <input class="form-control" id="exampleDropdownFormEmail1" placeholder="email"
                                                   type="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleDropdownFormPassword1">Password</label>
                                            <input class="form-control" id="exampleDropdownFormPassword1"
                                                   placeholder="Password" type="password">
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <input class="checkbox-input" id="dropdownCheck1" type="checkbox">
                                                <label for="dropdownCheck1">Remember me</label>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" type="submit">Sign in</button>
                                    </form>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">New around here? Sign up</a>
                                    <a class="dropdown-item" href="#">Forgot password?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dropdown variations Ends -->

</div>
{% endblock %}