<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{ title }} - {{ web_title }}</title>
    {% block stylesfirst %}{% endblock %}
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    {% block styles %}{% endblock %}
    <link href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet">
    <link href="assets/vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/css/app.css" rel="stylesheet">
    <link href="assets/images/favicon.svg" rel="shortcut icon" type="image/x-icon">
</head>

<body>
<div id="app">
    <div class="active" id="sidebar">
        {% include "layouts/sidebar.html" %}
    </div>
    <div id="main">
        <header class="mb-3">
            <a class="burger-btn d-block d-xl-none" href="#">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2021 &copy; Mazer</p>
                </div>
                <div class="float-end">
                    <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                            href="http://ahmadsaugi.com">A. Saugi</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
{% block js %}{% endblock %}
<script src="assets/js/main.js"></script>
</body>

</html>